<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') %>
<body>
    <%- include('partials/header') %>
    <%- include('partials/modal') %>
    <main id="areaPrincipal">
        <section id="vistaProducto">
        <!-- area imagenes -->
             <div> <!--para centrar despues en vista grande -->

                <article id="imagenProducto">
                    <img id="imaPrin" src="/img/imagesProducts/<%= product.Image[0].name ? product.Image[0].name : 'default-image.png' %>" alt="imagen producto">
                </article>
                <article id="carrusel">
                    <div class="flecha">
                        <a id="left">
                            <img src="/img/chevron_left_black_24dp.svg" alt="" srcset="">
                        </a>
                    </div>

                    <% for(let i=0 ; i< product.Image.length ; i++){  %>

                        <a href="#"  class="enlaceIma" id="enlace<%- i+1%>"  >
                            <img class="min" id="imaSec<%- i+1%>"  src="/img/imagesProducts/<%= product.Image[i].name%>" alt="">
                        </a>
                   
                    <% } %>

                    <div class="flecha">
                        <a id="rigth">
                            <img src="/img/chevron_right_black_24dp.svg" alt="" srcset="">
                        </a>
                    </div>
                </article>
            </div>
            <!-- </div> -->
        </section>
        <section id="vistaDescripcion">
        <!-- area descripcion -->
            <article id="descripcionProducto">
                <strong>
                    <h2 id="nombreProducto">
                        <%= product.name %> 
                    </h2>
                </strong>
                <span>
                    <p> ID referencia: 
                        <strong id="idProducto">
                            <%=  product.id %> 
                        </strong>
                    </p>
                </span>
                <div id="grados">
                    <div id="puntaje">
                        <img src="/img/grade_black_24dp.svg" alt="" srcset="">
                        <img src="/img/grade_black_24dp.svg" alt="" srcset="">
                        <img src="/img/grade_black_24dp.svg" alt="" srcset="">
                        <img src="/img/grade_black_24dp.svg" alt="" srcset="">
                        <img src="/img/grade_black_24dp.svg" alt="" srcset="">
                        <p>(55)</p>
                    </div>
                </div>
                <div id="descripcion">
                    <p>
                        Disponible. 
                    </p>
                    <h3>
                        Descripción. 
                    </h3>
                    <p>
                        <%= product.description %> 
                    </p>
                    <h3>
                        Caracteristicas. 
                    </h3>
                    <ul>

                    </ul>
                        <% 
                        let caracteristicas = product.features.split(",");
                        for(let i=0 ; i < caracteristicas.length ;i++){%>
                            <li><%= caracteristicas[i]%>.</li>
                        <% } %>
                    </ul>
                    <br>
                </div>
            </article>
            <article id="CostoApagar">
                <div id="precios">
                	<h5 id="descuentoProducto"><%= product.discount %></h5>$
                    <h4 id="precioProducto"><%= product.price %></h4>$
                    <h6><%= product.discountRate %>% de descuento</h6>
                </div>
                <p>Stock: <%= product.stock %></p>
                <p>Cantidad:</p>
                <div id="cantidadD">
                    <div>
                        <a id="menos">
                            <strong>
                                - 
                            </strong>
                        </a>
                    </div>
                    <div><input type="text" name="" id="numProduct" value="1" readonly></div>
                    <div>
                        <a id="mas">
                            <strong>
                                +
                            </strong>
                        </a>
                    </div>
                </div>
                <br>
                <button class="botonPrimario" id="agregarCarrito">Agregar a carrito</button>
            </article>
        <!-- area descripcion -->
        </section>
    </main>
    <%- include('partials/footer') %>
    <script src="/js/productDetail.js"></script>
</body>
</html>