<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') %>
<body>
    <%- include('partials/header') %>
    <%- include('partials/modal') %>
    <main id="areaPrincipal">
        <section id="vistaProducto">
        <!-- area imagenes -->
             <div> <!--para centrar despues en vista grande -->
                <article id="imagenProducto">
                    <img src="/img/imagesProducts/<%= product.image ? product.image : 'default-image.png' %>" alt="imagen producto">
                </article>
                <article id="carrusel">
                    <div class="flecha">
                        <img src="/img/chevron_left_black_24dp.svg" alt="" srcset="">
                    </div>
                    <img src="/img/1.webp" alt="">
                    <img src="/img/2.webp" alt="">
                    <img src="/img/3.webp" alt="">
                    <img src="/img/4.webp" alt="">
                    <div class="flecha">
                        <img src="/img/chevron_right_black_24dp.svg" alt="" srcset="">
                    </div>
                </article>
            </div>

            <!-- </div> -->
        </section>
        <section id="vistaDescripcion">
        <!-- area descripcion -->
            <article id="descripcionProducto">
                <strong>
                    <h2>
                        <%= product.name %> 
                    </h2>
                </strong>
                <h4>
                    ID referencia: <%=  product.id %> 
                </h4>
                <div id="grados">
                    <div id="puntaje">
                        <img src="/img/grade_black_24dp.svg" alt="" srcset="">
                        <img src="/img/grade_black_24dp.svg" alt="" srcset="">
                        <img src="/img/grade_black_24dp.svg" alt="" srcset="">
                        <img src="/img/grade_black_24dp.svg" alt="" srcset="">
                        <img src="/img/grade_black_24dp.svg" alt="" srcset="">
                        <p>(55)</p>
                    </div>
                </div>
                <div id="descripcion">
                    <p>
                        Disponible. 
                    </p>
                    <h3>
                        Descripción. 
                    </h3>
                    <p>
                        <%=  product.description %> 
                    </p>
                    <h3>
                        Caracteristicas. 
                    </h3>
                    <ul>

                    </ul>
                        <% 
                        let caracteristicas = product.features.split(",");
                        for(let i=0 ; i < caracteristicas.length ;i++){%>
                            <li><%= caracteristicas[i]%>.</li>
                        <% } %>
                    </ul>
                    <br>
                </div>
            </article>
            <article id="CostoApagar">
                <div id="precios">
                    <h4><%= product.price %>$</h4>
                    <h5><%= product.discount %>$</h5>
                    <h6><%= product.discountRate %>%</h6>
                </div>
                <p>Stock: <%= product.stock %></p>
                <p>Cantidad:</p>
                <div id="cantidad">
                    <div>-</div>
                    <div>10</div>
                    <div>+</div>
                </div>
                <br>
                <button class="botonPrimario">Agregar a carrito</button>
            </article>
        <!-- area descripcion -->
        </section>
    </main>
    <%- include('partials/footer') %>
</body>
</html>